nav{
  color:#fff;
  justify-content: space-between;
  width: 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  &.nav-support, &.nav-products{
      position: relative;
      color:#4a4a4a;
      :not(a,li,ul,img,i, .container) 
      {
        background-color: hsla(0,0%,100%,.95);
        margin: 0 auto;
        width: 100%;
      }
      header{
        max-width: 1100px;
        margin: 0 auto;
        .container{
          ul{
            a{
              color:#4a4a4a;
            }
            .icon-vive-logo{
              color: #6fd4ef;
            }
          }
        }
      }
  }
  &:hover{
    color:#4a4a4a;
    :not(a,li,ul,img,i, .container) 
    {
      background-color: hsla(0,0%,100%,.95);
      transition: background-color .5s,border-color .5s;
      
    }
    header{
      
      .container{
        ul{
          a{
            color:#4a4a4a;
          }
          .icon-vive-logo{
            color: #6fd4ef;
          }
        }
      }
    }
}

  :not(a,li,ul,img,i, .container, .submenu, .sub-item-box, h4) 
  {
    background-color: rgba(78, 54, 54, 0.4);
    border-bottom: 1px solid transparent;
    margin: 0 auto;
    width: 100%;
  }
  
  header{
      
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
  
      ul{
        display: flex;
        flex-direction: row;
        margin: auto 0;
        padding: 10px 0;
        
        li{
          list-style: none;
          margin: 0 20px;
          
        }
        a{
          font-size: 12px;
          color:#fff;
        }
      }
      .navbar-menu{
        .logo-htc{
          max-width: 55px;
          padding-right: 20px;
        }
        .bottom-line{
          position: absolute;
          display: none;
          width: 1px;
          height: 3px;
          background-color: #4bd6b8;
          z-index: 100;
          transform: translate(304.332px, 0px) scale(72.934, 1);
        }
        .products-li{
          position: relative;
          .submenu{
            padding-left: 140.425px;
            max-height: initial;
            left: 0;
            margin: 0 -30px;
            position: absolute;
            width: 100%;
            top: 54px;
            z-index: -1;
            height: 0;
            overflow: hidden;
            &:before{
              content: "";
              display: block;
              position: absolute;
              width: 100vw;
              height: 45px;
              z-index: -1;
              opacity: 0;
              background-color: hsla(0,0%,100%,.9);
              left: calc(50% - 50vw + 30px);
            }
            .sub-item-box{
              width: 100px;
              justify-content: center;
              img{
                height: 50px;
                width: 50px;
                margin: 0 auto;
              }
              h4{
                text-align: center;
                color:black
              }
            }
          }
          &:hover{
            .bottom-line{
              display: block;
              left: -274px;
              bottom: -10px;
            }
            .submenu{
              display: flex;
            }
          }
        }
        .support-li{
          position: relative;
          &:hover{
            .bottom-line{
              display: block;
              left: -274px;
              bottom: -10px;
            }
          }
        }
      }
      .navbar-tool{
        .logo-vive{
          max-width: 20px;
          padding-left: 20px;
        }
      }
    }
  }
}

main{
    .hero{
    .slick-slide{
      img{
          width: 100%;
          min-height: 683px;
          margin: 0 auto;
          padding: 0;
          object-fit: cover;
      }
    }
    .slick-dots{
      bottom:18px;
      li button:before{
          color:white;
      }
    }
  }


  .grid{
    margin: 50px auto 100px auto;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .item-box{
        text-align: center;
        p,h2{
            white-space: nowrap;
        }
        h2{
            color: #4a4a4a;
            line-height: 1.5;
            padding: 10px 0;
            font-weight: 100px;
        }
        p{
            font-size: 12px;
            padding: 0 0 20px 0;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
  }
  .big-banner{
    padding-top: 20px;
    width: 100%;
    img{
        min-height: 683px;
        object-fit: cover; 
        width: 100%;
    }
    .vive-focus-3{
        .parent-button{
          position: relative;
          height: inherit;
          width: inherit;
        }
        .play-button{
            position:absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            padding: 9px 30px;
            border-radius: 30px;
            color: #fff;
            background-color: transparent;
            border: 1px solid transparent;
            border-color: #fff;
        }
    }

  }

  .email-subscription{
    width: 100%;
    margin: 80px auto;
    text-align: center;
    h4{
        font-weight: 100;
        font-size: 18px;
        line-height: 1.5;
        color: #4a4a4a;
    }
  
    .search_input{
        margin: 20px 0;
        padding: 10px 5px;
        border: none;
        border-bottom: 1px solid #efefef;
        border-radius: 0;
        min-width: 400px;
        color: #9b9b9b;
    }
    .form-check{
        color: #9b9b9b;
        label{
            padding-left: 10px;   
        }
    }
    .policy-term{
        color: #4a4a4a;
        margin: 20px 0;
        a{
            padding: 0 10px;
        }
    }
    button{
        background-color: #d2d2d2;
        padding: 9px 30px;
        border-radius: 30px;
        border-color: #d2d2d2;
        color: white;
    }
  }
}

.support{
  line-height: 1.5;
  font-family: Montserrat,Noto Sans TC,sans-serif;
  letter-spacing: .5px;
  .section-wrapper{
    background-color: #dadada;
    position: relative;
    font-family: Montserrat,Noto Sans TC,sans-serif;
    padding-bottom: 50px;
    .paralax-wrap{
      position: absolute!important;
      z-index: 1;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 421px;
      background-color: #dadada;
      .paralax-img{
        background-color: #505F80;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 150%;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
    .search-banner{
      z-index: 5;
      position:relative;
      .content{
        box-sizing: border-box;
        width: 100%;
        min-width: 992px;
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 63px;
        text-align: center;
        .title-section{
          .caption{
            display: inline-block;
            padding: 1%;
            font-size: small;
            color: #4a4a4a;
            background: #fff;
            margin: 0 auto 1em;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
            -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
            box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
            font-weight: 400;
            font-size: 13px;
          }
          h2{
            color:#fff;
          }
        }
      }
      .search-area{
        margin-top: 50px;
        .search-container{
          position:relative;
          box-sizing: border-box;
          width: 100%;
          margin: 0 auto;
          max-width: 900px;
          input{
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 15px;
          }
          .button-submit{
            background-color: #dadada;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            top: 0;
            right: 0;
            width: 45px;
            height: 45px;
            position: absolute;
            cursor: pointer;
            img{
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
            
          }
        }
      }
      .product-listing,.topic-choose{
        font-family: Montserrat,Noto Sans TC,sans-serif;
        background-color: #fff;
        box-sizing: border-box;
        width: 95%;
        min-width: 992px;
        max-width: 1320px;
        margin: 60px auto 0;
        padding: 30px 20px;
        text-align: center;
        box-shadow: 0 2px 3px 0 rgb(0 0 0 / 30%), inset 0 0 0 0 rgb(255 255 255 / 50%);

        .border-box{
          padding-top:20px;
          h2{
            position: relative;
            padding-bottom: 30px;
            font-size: 27px;
            &:after{
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 120px;
              height: 4px;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              content: '';
              background-color: #000;
            }
          }
        }
        .products-flex{
          display: flex;
          flex-direction: row;
          margin: 40px 0;
          width: 100%;
          justify-content: center;
          .item-box{
            display: flex;
            flex-direction: column;
            width: 175px;
            padding: 0 20px;
             img{
              width: 100px;
              height: 100px;
              margin: 0 auto 30px;
            }
            span{
              font-size: 17px;
              text-align: center;
              height: 20px;
              overflow: hidden;
            }
          }
         
        }
      }
      .topic-choose .products-flex .item-box {
        img{
          width: 70px;
          height: 70px;
        }
        span{
          white-space: normal;
          word-break: break-word;
          height: 50px;
          width: 100%;
        }
      }
      
    }
  }
}
.product-category{
  .title{
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    h3{
      font-size: 24px;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
      color: #9b9b9b;
    }
    .button-border{
      text-align: center;
      border: 1px solid transparent;
      padding: 9px 30px;
      border-radius: 30px;
      border-color: #4bd6b8;
      background-color: hsla(0,0%,100%,.4);
      color:#4bd6b8;
      &:hover{
        background-color: #4bd6b8;
        color: #fff;
      }
    }
  }
  .filter-sort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    .button-border{
      text-align: center;
      border: 1px solid transparent;
      padding: 9px 30px;
      border-radius: 30px;
      border-color: #4bd6b8;
      background-color: hsla(0,0%,100%,.4);
      color:#4bd6b8;
      &:hover{
        background-color: #4bd6b8;
        color: #fff;
      }
    }
  }
}

footer{
  background-color: #f4f4f4;
  color: #4a4a4a;
  padding: 50px 0;
  width: 100%;
  .grid{
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
      margin: 50px auto 100px auto;
      min-width: 992px;
      max-width: 1320px;
      width: 95%;
      flex-direction: row;
      justify-content: center;
      position: relative;
      .item-box{
          display: flex;
          
          flex-flow: column wrap;
          text-align: left;
          .globe{
              margin: auto 0;
          } 
          label{
              color: #4a4a4a;
              float:left;
              margin-bottom: 5px;
              }
          ul{
              
              li{
                  list-style: none;
                  margin: 10px 0;
                  a{
                      white-space: nowrap;
                      color:#9b9b9b;
                  }
              } 
          }
          
      }
  }
  .copyright-block{
      position: absolute;
      bottom: -48px;
      right: 3px;
      display: flex;
      flex-direction: row;
      p,a{
          padding: 0 10px;
      }
      p{
          color:#9b9b9b;
      }
  }
}
