.grid{
    margin: 50px auto 100px auto;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .item-box{
        text-align: center;
        p,h2{
            white-space: nowrap;
        }
        h2{
            color: #4a4a4a;
            line-height: 1.5;
            padding: 10px 0;
            font-weight: 100px;
        }
        p{
            font-size: 12px;
            padding: 0 0 20px 0;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}